.navbar {
  padding: 0 !important;

  .container-fluid {
    padding: 0 !important;
  }
}
.header {
  position: fixed;
  top: 0;
  z-index: 20;
  overflow: hidden;
  transition: 0.5s;
  left: 0;
  right: 0;
}
.fixed {
  width: 100%;
  background-color: #fff;
}
.header-nav {
  width: 100%;
  justify-content: center;
  background-color: var(--clr-primary);
  align-items: center;
  height: 60px;
  display: flex;
  z-index: 20;
  position: sticky;
  top: 0;
  .actives {
    right: 33px;
    transition: 0.5s;
    position: fixed;
    z-index: 20;
  }
  .active {
    background: #ffffff36;
    border-radius: 37px;
  }
  .btn__search {
    background-color: transparent;
    color: white;
    font-size: 30px;
    display: flex;
  }
  a {
    font-size: 15px;
    text-decoration: none;
    margin: 5px;
    color: #ffffff;
    padding: 9px 14px;
    text-align: center;
  }
  a:hover {
    color: #d7d7d7;
    transition-duration: 0.5s;
  }

  .responsive {
    display: none;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    .logo {
      width: 124px !important;
    }
    svg {
      color: white;
      font-size: 40px;
      cursor: pointer;
    }
  }
  .active {
    background: #ffffff36;
    border-radius: 37px;
  }
}

.container-fluid {
  background-color: var(--clr-primary);
}

.nav-opacity {
  background-color: #1c2c4ede;
}

.header-top {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: auto;
  background-color: white;
  width: 100% !important;
  height: 85px;

  a {
    width: 150px;
    display: flex;
  }
  .contact {
    display: flex;
    .contact-icon {
      display: flex;
      flex-direction: row;
      margin: 12px;
      align-items: center;
      p {
        margin-left: 10px;
        font-size: 15px;
      }
    }

    .social {
      gap: 10px;
      .search {
        width: 29px;
      }
    }
  }
  .logo-original {
    width: 160px !important;
  }
}

.search-boxSideBar {
  input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 0;
    outline: none;
  }
}

.sidebar-items {
  display: flex;
  flex-direction: column;

  a {
    font-size: 17px;
    text-decoration: none;
    margin: 5px;
    color: #ffffff;
    padding: 9px 18px;
    text-align: center;
    height: max-content;
    margin: auto;
  }
  a:hover {
    color: #d7d7d7;
    transition-duration: 0.5s;
  }
  .active {
    background: #ffffff36;
    border-radius: 37px;
  }
}
.hide_nav {
  margin-top: -85px;
}
.search-box {
  position: absolute;
  margin-top: 150px;
  right: -100%;
}
.search-box {
  input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
  }
}

@media screen and (max-width: 1015px) {
  .header-nav a {
    padding: 9px 13px;
  }
}
@media screen and (max-width: 935px) {
  .navbar-items {
    display: none;
  }
  .header-nav {
    .btn__search {
      display: none !important;
    }
    .search-box {
      display: none !important;
    }
  }
  .header-top {
    display: none;
  }
  .responsive {
    display: flex !important;
  }
  .logo-original {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  .responsive {
    padding: 30px !important;
  }
}
@media screen and (max-width: 935px) {
  .hide_nav {
    margin-top: 0px;
  }
}
