@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'nexa_bold';
  src: local('nexa_bold'),
    url(./../components//assets/font/Nexa-Bold.woff) format('woff');
}
// .background {
//   background-image: url('/img/backgroud.webp');
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   background-size: cover;
//   z-index: 0;
//   opacity: 0.1;
// }
:root {
  --clr-second: #bb2431;
  --clr-primary: #1c2c4e;
  --txt-title: clamp(30px, 3vw, 100px);
  --pdg-box: 0px 4%;
}

.row {
  margin: auto !important;
}

body {
  // overflow: overlay;
  font-family: 'Montserrat', sans-serif !important;
}
.row {
  align-items: center;
}
.grey {
  background: #f5f5f5;
}
.back_icon {
  position: absolute;
  /* width: 100%; */
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.15;
}
p,
h1,
h2,
h3,
h4,
h5,
h4 {
  margin-bottom: 0px !important;
  display: flex;
  align-items: center;
}

.icons-expertise {
  width: 150px;
  height: 150px;
  display: flex;
  padding: 24px;
  border-radius: 50%;
}

#__next {
  margin-top: 145px;
  overflow: hidden;
}

p {
  font-size: 20px;
}

section {
  padding: 50px 20px !important;
  position: relative;
}

img {
  pointer-events: none !important;
}

input {
  outline: none;
}

input:focus {
  border: 0;
  outline: none;
}

button {
  border: none;
  outline: none;
}

button:active {
  opacity: 0.7;
}

.primary-btn {
  background-color: var(--clr-primary);
  color: white;
  font-size: 20px;
  padding: 10px 19px;
  border-radius: 10px;
}

.second-btn {
  background-color: var(--clr-second) !important;
  color: white !important;
  padding: 10px 19px !important;
  border-radius: 10px !important;
  font-size: clamp(10px, 2vw, 27px) !important;
}

.heading-2 {
  color: #ba2430;
  font-size: 35px;
  position: relative;
  margin-bottom: 25px !important;
  font-weight: 600;
}

.heading-2::after {
  content: '';
  position: absolute;
  width: 64px;
  height: 3px;
  background: #ba2430;
  bottom: -3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//fixing footer
.content-app {
  min-height: 100vh;
  overflow: hidden;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}
iframe {
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

._icons {
  .back_icon {
    width: 900px;
  }
  .icon {
    cursor: pointer;
    transition: 0.3s;
    filter: opacity(1);
    transform: scale(0.9);
    display: flex;
    flex-direction: column;

    align-items: center;

    img {
      width: 100%;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      margin-top: 12px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  .icon:hover {
    filter: opacity(0.7);
    transform: scale(1);
  }

  .gestion {
    background: linear-gradient(
      90deg,
      rgba(28, 44, 78, 1) 0%,
      rgba(52, 82, 145, 1) 100%
    );
  }

  .elec {
    background: linear-gradient(
      90deg,
      rgba(227, 228, 41, 1) 0%,
      rgba(145, 127, 52, 1) 100%
    );
  }

  .str {
    padding: 30px;
    background: linear-gradient(
      90deg,
      rgba(101, 101, 101, 1) 0%,
      rgba(91, 91, 91, 1) 100%
    );
  }

  .fluide {
    background: linear-gradient(
      90deg,
      rgba(3, 186, 212, 1) 0%,
      rgba(3, 109, 226, 1) 100%
    );
  }

  .therm {
    background: linear-gradient(
      90deg,
      rgba(232, 82, 45, 1) 0%,
      rgba(240, 111, 86, 0.9948354341736695) 100%
    );
  }

  .vrd {
    background: linear-gradient(
      90deg,
      rgba(12, 102, 0, 1) 0%,
      rgba(52, 226, 3, 1) 100%
    );
  }
}

// .content-app {
//
// }
// .tsize {
//   h2 {
//     font-size: 40px;
//   }
// }
// ._container {
//   padding: 25px 0;
// }
.rec-dot_active {
  background-color: var(--clr-primary) !important;
  box-shadow: 0 0 1px 3px var(--clr-primary) !important;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 900px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .expertise {
    padding-left: 0 !important;
  }

  #__next {
    margin-top: 60px;
  }
}

@media screen and (max-width: 425px) {
  // h2 {
  //   font-size: 30px !important;
  // }
  p {
    font-size: 18px !important;
  }
}
